 * {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


header {
  background-color: crimson;
  color: white;
}

.wrapper {
  padding: 0 1rem;
}

.logo {
  font-size: 3rem;
  display: flex;
  align-items: center;
}


.fa-java {
  font-size: 2.5rem;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  background-color: crimson;
  position: absolute;
  top: 3.6rem;left: 0;
  width: 100%;

}


.nav-link {
  border: 2px solid white;
  padding: .5rem 3rem;
  display: block;
  color: white;
}

.nav-link:hover {
  color: blanchedalmond;
}

.fa-bars, .fa-xmark{
  cursor: pointer;
  font-size: 2.8rem;
}


.show{
  display: none;
}





@media(min-width: 600px){
  .menu{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .nav-link{
    border: 0;
  }

  .fa-bars, .fa-xmark{
    display: none;
  }
}
